In [117]:
import pandas as pd

original = pd.read_csv(r'iceNoIce (2).csv', sep=',', engine = 'python')

In [124]:
int(original['Unnamed: 1'][0])

1

In [125]:
x= []
y = []

In [123]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.signal import find_peaks as fp
N_FILE=9
FOLDER=''

for index in range(1,N_FILE+135):
    if index not in [21,24,54,95,33,3,96,136,99,61,100,98,41,64,97,7,65,12,76,8,17,14,18,104,111,15,10,116,119,145,146,171]:
        #print(index)
        data=None
        data=pd.read_csv(FOLDER+'Test#'+str(index)+'.txt',sep='\t',header=None)
        #print(data.head())
        data.columns = ["Date", "Time_Peltier_On", "Temp", "Element","v1","v2","T1","T2"]
        #print(data.head())
        df = data.drop(["Time_Peltier_On","Element","Date", "Temp","v1","v2","T2"], axis=1)
        df.head()
        tmp=int(original['Unnamed: 1'][index])

        for i in range(0,df.shape[0]-11, 10):
          x.append(df.loc[i:(i+10)]['T1'].values)
          y.append(tmp)

In [115]:
type(x)

list

In [116]:
data= pd.DataFrame(x)
data['label']=y
data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,label
0,8.768,8.652,8.533,8.431,8.331,8.229,8.144,8.083,8.006,7.917,7.840,1
1,7.840,7.801,7.743,7.688,7.630,7.575,7.567,7.517,7.467,7.470,7.395,1
2,7.395,7.357,7.310,7.285,7.266,7.260,7.210,7.180,7.150,7.130,7.056,1
3,7.056,7.050,7.039,6.995,6.984,6.931,6.945,6.898,6.879,6.846,6.832,1
4,6.832,6.807,6.771,6.730,6.711,6.680,6.655,6.639,6.622,6.603,6.568,1
5,6.568,6.527,6.530,6.483,6.488,6.452,6.427,6.378,6.372,6.336,6.312,1
6,6.312,6.303,6.273,6.229,6.212,6.207,6.168,6.162,6.116,6.091,6.060,1
7,6.060,6.033,6.011,5.972,5.988,5.930,5.917,5.881,5.870,5.828,5.815,1
8,5.815,5.770,5.748,5.729,5.679,5.668,5.654,5.605,5.594,5.547,5.525,1
9,5.525,5.522,5.483,5.475,5.445,5.403,5.370,5.376,5.351,5.320,5.273,1

In [92]:
tmp=data

In [93]:
tmp

,0,1,2,3,4,5,6,7,8,9,10,label
0,8.768,8.652,8.533,8.431,8.331,8.229,8.144,8.083,8.006,7.917,7.840,1
1,7.840,7.801,7.743,7.688,7.630,7.575,7.567,7.517,7.467,7.470,7.395,1
2,7.395,7.357,7.310,7.285,7.266,7.260,7.210,7.180,7.150,7.130,7.056,1
3,7.056,7.050,7.039,6.995,6.984,6.931,6.945,6.898,6.879,6.846,6.832,1
4,6.832,6.807,6.771,6.730,6.711,6.680,6.655,6.639,6.622,6.603,6.568,1
...,...,...,...,...,...,...,...,...,...,...,...,...
70640,1.563,1.560,1.572,1.566,1.558,1.572,1.580,1.580,1.572,1.591,1.588,1
70641,1.588,1.572,1.586,1.586,1.611,1.586,1.591,1.594,1.594,1.603,1.608,1
70642,1.608,1.628,1.614,1.616,1.622,1.631,1.642,1.622,1.656,1.650,1.639,1
70643,1.639,1.625,1.650,1.659,1.639,1.653,1.670,1.681,1.673,1.692,1.706,1
70644,1.706,1.675,1.687,1.698,1.689,1.684,1.692,1.717,1.709,1.706,1.740,1

In [94]:
x=tmp.iloc[:,:11]
y=tmp['label']

In [95]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30,random_state=10)

In [96]:
from sklearn.ensemble import RandomForestClassifier  

rf = RandomForestClassifier(random_state=0)  
rf

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [97]:
rf_model = rf.fit(X_train, y_train)  
# training accuracy varia tra 98% e 99.74%
rf_model.score(X_train, y_train)

0.998362014923864

In [98]:
import warnings

warnings.simplefilter("ignore")

In [99]:
predicted = pd.DataFrame(rf_model.predict(X_test))  
probs = pd.DataFrame(rf_model.predict_proba(X_test))
from sklearn import metrics  

# Store metrics
rf_accuracy = metrics.accuracy_score(y_test, predicted)  
rf_accuracy

0.9719260167972068

In [100]:
y_pred =rf_model.predict(X_test)

In [101]:
dff=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
dff

       Actual  Predicted
67579       1          1
63301       1          1
30921       0          0
32250       1          0
57981       1          1
...       ...        ...
20953       0          0
27610       0          0
37564       0          0
40086       1          1
9353        1          1

[21194 rows x 2 columns]

In [106]:
dff.head(15)

       Actual  Predicted
67579       1          1
63301       1          1
30921       0          0
32250       1          0
57981       1          1
5591        0          0
5942        0          0
64822       1          1
3252        0          0
28213       0          0
15086       1          1
7533        1          1
9977        1          1
20379       0          0
29987       0          0

In [107]:
d=pd.DataFrame()

In [108]:
rf_roc_auc = metrics.roc_auc_score(y_test, probs[1])  
rf_confus_matrix = metrics.confusion_matrix(y_test, predicted)  
rf_classification_report = metrics.classification_report(y_test, predicted)  
rf_precision = metrics.precision_score(y_test, predicted, pos_label=1)  
rf_recall = metrics.recall_score(y_test, predicted, pos_label=1)  
rf_f1 = metrics.f1_score(y_test, predicted, pos_label=1)

In [109]:
rf_confus_matrix

array([[ 8339,   241],
       [  354, 12260]], dtype=int64)

In [110]:
rf_classification_report

'              precision    recall  f1-score   support\n\n           0       0.96      0.97      0.97      8580\n           1       0.98      0.97      0.98     12614\n\n    accuracy                           0.97     21194\n   macro avg       0.97      0.97      0.97     21194\nweighted avg       0.97      0.97      0.97     21194\n'